html, body{
	height:100%;
	width: 100%;
	min-width: 250px;
	min-height: 350px;
	overflow: hidden;
	padding: 0;
	margin: 0}
#foldertree, #editor{ height:50%; margin:0; padding: 0; width: 99% }
#foldertree{overflow-y: auto; overflow-x:hidden;}
#foldertree button{
	border: 0;
	background: transparent;
	display: block;
	width: 100%;
	overflow: hidden;
	text-align: left;
	line-height: 1.2em;
	height: 1.2em;
	background-image: url(note.png);
	background-repeat: no-repeat;
	padding-left: 17px;
	margin-left: 16px;
}
#foldertree button.web{
	background-image: url(note_web.png);
}
#foldertree .folder{
	padding-left: 16px;
	background-image: url(group_closed.png);
	background-repeat: no-repeat;
	height: 1.2em;
	overflow: hidden;
}
#foldertree .folder.expanded{
	padding-left: 16px;
	background-image: url(group_open.png);
	height: auto;
}
#foldertree .folder.trash>button:first-child{
	background-image: url(trash.png);
}
#foldertree .folder.empty{
	background-image: none;
}
#foldertree button.folderheader{
	margin-left: 0px;
	background-image: url(folder.png);
}
#foldertree button:focus{
	background-color: Highlight;
	color: HighlightText;
}
#foldertree button.inactive_focus{
	background-color: lightgrey;
}
#foldertree .folderheader.droptarget{
	background-color: Highlight;
	color: HighlightText;
}
#foldertree .note.droptarget{
	outline-top: 2px solid black;
}

#editor textarea{ height: 100%; width: 100%; overflow: auto;margin: 0 }

.menu{
	background-color: Menu;
	position: absolute;
	border: 2px black outset;
	width: auto;
	text-align: left;
}
.menu a{
	display: block;
	text-decoration: none;
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
	color:MenuText;
	text-align: left;
}
.menu a.disabled{
	font-style: italic;
	color: GrayText;
}
.menu a:focus{
	background-color: Highlight;
	color: HighlightText;
}